@font-face {
  font-family: 'Roboto';
  src: url('fonts/google/Roboto-Regular.eot');
  src: url('fonts/google/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/google/Roboto-Regular.woff2') format('woff2'),
  url('fonts/google/Roboto-Regular.woff') format('woff'),
  url('fonts/google/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/google/Roboto-Bold.eot');
  src: url('fonts/google/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/google/Roboto-Bold.woff2') format('woff2'),
  url('fonts/google/Roboto-Bold.woff') format('woff'),
  url('fonts/google/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  outline: none !important;
}
html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  line-height: 1.5em;
  overflow-x: hidden;
  font-size: 14px;
  color: $color-text;
  font-family: $font-family-text;
  font-weight: $font-weight-regular;
  background-color: $background-body;
  @include flexbox();
  @include flex-direction(column);
}
.sticky-footer {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: $font-weight-bold;
  color: $color-title;
}
a {
  color: $color-text;
  @include transition(all 0.4s ease-in-out);

  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:hover {
    color: $color-title;
  }
}
p {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
}
blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}
pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}
.nav {
  > li {
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
}
.form-control {
  &:focus {
    border-color: $color-hover;
    @include box-shadow(none);
  }
}
figure {
  margin: 0;
}
#site-loadding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}
#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition(all 400ms ease-in-out);

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }
  &.active_top {
    opacity: 1;
    bottom: 15px;
  }
  &:hover {
    background-color: $background-primary;
  }
}
/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
  a {
    display: block;
  }
}
.social-network-toTopFromBottom {
  .social-network-item {
    overflow: hidden;

    &:hover {
      background: $background-hover;
      border-color: $background-hover;

      a {
        color: #fff;
      }
      i.fa {
        -webkit-animation: toTopFromBottom 0.4s forwards;
        -moz-animation: toTopFromBottom 0.4s forwards;
        animation: toTopFromBottom 0.4s forwards;
      }
    }
  }
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      &.owl-next,
      &.owl-prev {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 15px !important;
        background-color: #ff5555;
        @include border-radius(5px);
        @include transition(all 0.4s ease-in-out);

        &:hover {
          background-color: #333333;
        }
      }
      i.fa {
        color: #ffffff;
        font-size: 20px;
        line-height: inherit;
        @include transition(all 0.4s ease-in-out);
      }
    }
  }
  .owl-dots {
    padding: 10px 0;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #888888;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out);
      }
      &.active,
      &:hover {
        span {
          background-color: #DEB400;
        }
      }
    }
  }
}
.owl-nav-absolute {
  &.owl-carousel {
    .owl-nav {
      margin: 0;

      button {
        opacity: 0;
        margin: 0;
        width: auto;
        height: auto;
        padding: 0 !important;
        @include transition(all 0.4s ease-in-out);

        i.fa {
          font-size: 35px;

          &:hover {
            color: $color-title;
          }
        }
        &.owl-prev,
        &.owl-next {
          position: absolute;
          top: 50%;
          background-color: transparent;
          @include transform(translateY(-50%));

        }
        &.owl-prev {
          left: 30px;
        }
        &.owl-next {
          right: 30px;
        }
      }
    }
    &:hover {
      .owl-nav {
        button {
          opacity: 1;
        }
      }
    }
  }
}
.elementor-shortcode {
  form.wpcf7-form {
    span {
      &.wpcf7-form-control-wrap {
        textarea {
          height: 175px;
        }
      }
    }
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.draw-meet-list {
  .draw-meet-item {
    position: relative;
    @include transition( color 0.25s );

    &:before,
    &:after {
      position: absolute;
      content: '';
      border: 3px solid transparent;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      z-index: 5;
    }
    &:after {
      bottom: 0;
      right: 0;
    }
  }
  &:hover {
    .draw-meet-item {
      &:before,
      &:after {
        width: 100%;
        height: 100%;
      }
      &:before {
        border-top-color: #fbca67;
        border-right-color: #fbca67;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
      }
      &:after {
        border-bottom-color: #fbca67;
        border-left-color: #fbca67;
        transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
      }
    }
  }
}