.breadcrumb-wrapper{
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 5px;

  .breadcrumb-wrapper-content {
    position: relative;
    padding-left: 10px;

    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 3px;
      height: 80%;
      background-color: #edc300;
    }
  }

  span{
    color: #999;
    transition: color .3s;
    font-size: 14px;

    &:hover{
      color: #ccc;
      transition: color .3s;
    }
  }
  .fa-home{
    margin-right: 5px;
    font-size: 18px;
  }
  .fa-angle-right{
    margin: 0 5px;
  }
}


