.element-post-type {
  position: relative;
  padding-bottom: 30px;

  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 6px;
  }
  &:before {
    width: 100%;
    background-color: #06295b;
  }
  &:after {
    width: 20%;
    background-color: #074c80;
  }
  .element-post-type__item {
    &:hover {
      img {
        opacity: 0.75;
      }
    }
  }
  .element-post-type__item--image {
    a {
      display: block;
      height: 125px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition(all 0.4s ease-in-out);
      }
    }
  }
  .element-post-type__item--title {
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 400;
    margin: 15px 0 0;

    a {
      color: $color-title;
    }
  }
}
.element-post-type__top {
  margin-bottom: 20px;

  .heading {
    position: relative;
    font-size: 30px;
    line-height: 1.4em;
    padding-left: 15px;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: $color-title;
    }
    span {
      display: block;
      font-size: 50px;
    }
  }
  .description {
    margin: 15px 0 0;
  }
}
.element-post-type__video {
  position: relative;

  .element-post-type__video--image {
    height: 150px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .btn-popup-video {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid #ffffff;
    background-color: rgba(4,36,93,0.75);
    font-size: 16px;
    color: $color-title;
    @include border-radius(50%);
    @include transform( translateX(-50%) translateY(-50%) );

    &:hover {
      background-color: rgba(4,36,93,1);
    }
  }
}