// Color
$color-primary: #777777;
$color-title: #edc300;
$color-text: #000000;
$color-hover: #ff5555;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #ff5555;

// Border color
$border-color: #eeeeee;