// Font Families
$font-family-text: 'Roboto';

// Font Weights
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: bold;
$font-weight-black: 900;