/* Category Event */
.site-slides-event-warp {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 30px;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #cccccc;
  }
}
.site-slides-event-cat {
  position: relative;

  &.owl-carousel {
    .owl-dots {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px 15px;
      @include justify-content(flex-end);

      .owl-dot {
        span {
          background-color: transparent;
          border: 1px solid #cccccc;
        }
        &.active,
        &:hover {
          span {
            background-color: $color-title;
            border-color: $color-title;
          }
        }
      }
    }
  }
}
.site-event-cat-content {
  .title-cat {
    font-size: 16px;
  }
}
/* Single Event */
.site-single-event__slides {
  .site-single-event__slides--item {
    height: 600px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.site-single-event__main {
  position: relative;

  .g-line {
    height: 150px;
    background: linear-gradient(rgba(0,0,0,0),#041026);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 6;
  }
}
.site-single-event {
  .info {
    padding: 15px 0;

    .title {
      font-size: 23px;
      margin-bottom: 10px;
    }
  }
  .info-meta {
    color: #ffffff;
    font-size: 13px;

    span {
      display: inline-block;

      &:after {
        content: '-';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
      i {
        margin-right: 2px;
      }
    }
  }
}
.site-single-event-bk {
  background-color: #041026;
}
.site-single-event__gallery {
  padding: 15px 0;
  white-space: nowrap;
  height: 180px;
  width: 100%;
}
.site-single-event__gallery--item {
  width: 220px;
  height: 130px;
  cursor: pointer;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.site-single-event-standard__warp {
  background-color: #fffdf2;
  padding: 15px;

  .title {
    position: relative;
    font-size: 16px;
    line-height: 1.1em;
    margin: 0 0 15px;
    padding-left: 10px;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $color-title;
    }
  }
}
.site-single-event-standard__other {
  margin-top: 15px;

  .title-other {
    font-size: 18px;
    background-color: #052460;
    padding: 10px;
    margin: 0 0 10px;
  }
  .event-standard-box__item {
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    padding: 15px;

    .item-image {
      height: 180px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item-title {
      line-height: 1.5em;
      font-size: 15px;
      margin-bottom: 10px;

      a {
        color: $color-title;
      }
    }
    .item-info__meta {
      span {
        display: inline-block;
        font-size: 12px;
        color: #666;
        margin-right: 15px;

        i.fa {
          margin-right: 5px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .item-info__meta-event {
      border-top: 1px solid #cccccc;
      padding-top: 10px;
      margin-top: 10px;

      span {
        display: block;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.site-single-event__support {
  border-top: 1px solid #cccccc;
  padding-top: 15px;
  margin-top: 30px;

  .phone-support {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    @include border-radius(20px);

    i.fa {
      margin-right: 5px;
    }
  }
  .tel {
    background-color: #f00;
  }
  .get-phone {
    display: inline-block;
    cursor: pointer;
    background-color: #18C29C;
  }
  .modal-body {
    padding: 15px 15px 0;
  }
  .modal-title {
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .modal-footer {
    padding: 15px;

    button {
      color: #ffffff;
      padding: 6px 12px;
      font-size: 14px;
    }
  }
}
.modal-content__form {
  form {
    &.wpcf7-form {
      p {
        label {
          text-align: left;
        }
      }
    }
  }
}
